.notificationsBtn {
  border: none;

  background-color: transparent;
}

.notificationsBtn > svg {
  width: 1.9rem;
  margin-left: 1.1rem;

  vertical-align: middle;
}

@media (min-width: 740px) {
  .notificationsBtn > svg {
    margin: 0;
  }
}

@media (min-width: 1440px) {
  .notificationsBtn > svg {
    margin-left: 0.25rem;
  }
}
