.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.signIn {
  padding: 0.45rem 0.75rem;

  border: none;
  border-radius: 0.35rem;

  font-size: 0.8rem;

  background-color: #8d5de7;
}

.search,
.notifications,
.hamburger {
  padding: 0;

  border: none;

  background-color: transparent;
}

.search > svg,
.hamburger > svg {
  width: 1.75rem;
  margin-left: 1rem;

  vertical-align: middle;
}

.notifications > svg {
  width: 1.9rem;
  margin-left: 1.1rem;

  vertical-align: middle;
}

/* Media Queries */
@media (min-width: 740px) {
  .signIn {
    padding: 0.85rem 1rem;

    font-size: 1rem;
  }

  .search {
    display: none;
  }

  [data-active-user="false"] {
    display: none;
  }
}
