.searchBar {
  display: none;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;

  position: relative;
}

[data-component-visible="true"] {
  display: block;
}

@media (min-width: 740px) {
  .searchBar {
    display: block;
  }
}
