.container {
  width: 95%;
  padding: 3rem 0;
  margin: auto;
}

.brand {
  display: none;
}

.linksContainer {
  margin-bottom: 3rem;
}

.linksContainer > h6 {
  margin-bottom: 1rem;
  font-size: 0.75rem;
  font-weight: 400;
  color: gray;
  text-transform: uppercase;
}

.linksList > li {
  margin-top: 0.5rem;
}

.linksList > li > a {
  font-size: 0.95rem;
  font-weight: 300;
}

.socialsList > li {
  display: inline-block;
  margin-right: 1rem;
}

.copyright {
  margin: 0.5rem 0;
  font-size: 0.95rem;
  font-weight: 300;
}

.conditionLinks > p {
  display: inline-block;
  margin-right: 0.5rem;
  font-size: 0.95rem;
  font-weight: 300;
}

@media (min-width: 775px) {
  .container {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 1175px) {
  .brand {
    display: block;
  }

  .brand > img {
    width: 10rem;
  }
}

@media (min-width: 1440px) {
  .container {
    width: 90rem;
  }
}
