.cardList {
  width: 95%;
  margin: auto;
}

.cardList > li {
  width: 100%;
  margin-bottom: 2rem;
}

@media (min-width: 775px) {
  .cardList {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .cardList::after {
    content: "";
    flex-basis: 30%;
  }

  .cardList > li {
    width: 30%;
  }
}

@media (min-width: 1175px) {
  .cardList > li {
    width: 23%;
  }

  .cardList::after {
    flex-basis: 23%;
  }
}

@media (min-width: 1475px) {
  .cardList > li {
    width: 19%;
  }

  .cardList::after {
    flex-basis: 19%;
  }
}
