.cardList {
  width: 95%;
  margin: auto;
}

.cardList > li {
  width: 100%;
  margin-bottom: 2rem;
}

@media (min-width: 775px) {
  .cardList {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1.25rem;
  }
}

@media (min-width: 1175px) {
  .cardList {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
